.project {
    width: calc((100% - 60px) / 3);
    box-shadow: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &t:not(:nth-child(3n)) {
        margin-right: 30px;
    }

    &:not(:nth-last-child(-n + 3)) {
        margin-bottom: 30px;
    }

    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }

    &__wrap {
        position: relative;
        overflow: hidden;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 63px 24px;
        background-color: rgba(33, 150, 243, 0.9);
        transform: translateY(101%);
        transition: 400ms;

        .project:hover & {
            transform: translateY(0);
        }
    }

    &__overlay-description {
        font-size: 18px;
        letter-spacing: 0.03em;
        color: #FFFFFF;
        line-height: 28px;
    }

    &__description {
        padding: 20px 24px;
        border-right: 1px solid #EEEEEE;
        border-bottom: 1px solid #EEEEEE;
        border-left: 1px solid #EEEEEE;
    }

    &__title {
        margin-bottom: 4px;

        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        color: var(--secondary-color);
    }

    &__type {
        margin-bottom: 0;

        color: var(--primary-color);
        font-size: 16px;
        line-height: 1.88;
    }
}