.social {
    display: flex;
    justify-content: space-between;
   
    &__link {
        display: block;
        width: 44px;
        height: 44px;
        padding: 12px;
        border-radius: 50%;
    } 
}

.team {
    &__social {
        margin: 16px 32px 0; 
    }

    &__social-link {
        background-color: transparent;
        transition-property: background-color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
            
        &:hover,
        &:focus {
            background-color: #2196F3;
        }
    }

    &__social-icon {
        fill: #AFB1B8;
        transition-property: fill;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;

        .team__social-link:hover &,
        .team__social-link:focus & {
            fill: var(--white-color);
        }
    }
}

.join-us {
    margin-top: 12px;
    margin-left: 70px;

    &__title {
        margin-bottom: 20px;

        color: var(--white-color);
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        text-transform: uppercase;
    }

    &__social-item + &__social-item {
        margin-left: 10px;
    }

    &__social-link {
        background-color: rgba(255, 255, 255, 0.1);
        transition-property: background-color;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
        
        &:hover,
        &:focus {
            background-color: var(--accent-color)
        }

    }

    &__social-icon {
        fill: var(--white-color);
    }
}