.work {
    position: relative;

    &__type {
    @include flex-centered;
    width: 100%;
    height: 70px;
    margin-bottom: 0;
    position: absolute;
    left: 0;
    bottom: 0;

    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
    }
}