:root {
    --primary-color: #757575;
    --secondary-color: #212121;
    --accent-color: #2196F3;
    --background-primary-color: #2F303A;
    --background-secondary-color: #F5F4FA;
    --white-color: #ffffff;
    --black-color: #000000;
    --font-family: Roboto;
}