.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--background-primary-color);

    & .container {
        display: flex;
    }

    &__contact-list {
        color: var(--white-color);
        line-height: 1.7;
    }

    &__contact-link {
        color: rgba(255, 255, 255, 0.6);
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    &__contact-item:not(:last-child) {
        margin-bottom: 9px;
    }

    &__contacts {
        margin-top: 20px;
    }
}