.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    visibility: visible;
    transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1), visibility 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    min-width: 528px;
    min-height: 581px;
    border-radius: 4px;
    padding: 40px;

    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

    transform: translate(-50%, -50%) scale(1);
    transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);

    &__button-close {
        position: absolute;
        top: 8px;
        right: 8px;

        @include flex-centered;
        width: 30px;
        height: 30px; 
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;

        background-color: var(--white-color);
        fill: var(--black-color);
        transition-property: fill;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
    }

    &__button-close:hover,
    &__button-close:focus {
        fill: var(--accent-color);
        cursor: pointer;
    }

    &__title {
        margin-bottom: 12px;

        font-size: 20px;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--secondary-color);
    }
}