.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.padding-top-non {
    display: none;
    @media screen and (min-width: 1200px) {
        display: block;
        padding-top: 0;
    }
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
}

.section-title {
    margin-bottom: 30px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;    

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
    }
}

.section-list {
    display: block;
    
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

 
.section-list .feature:not(:last-child),
.section-list .work:not(:last-child),
.section-list .team__member:not(:last-child) {
    @media screen and (min-width: 1200px){
    margin-right: 30px;
    }
}